body{
    text-align: center;
    background: burlywood;
    font-family: cursive;
    font-weight: bolder;
}
h1{
    color:black ;
    font-weight: bolder;
    font-size: 40px;
    margin: 135px 0px 20px;
    text-decoration: white 2px underline;
    box-shadow: whitesmoke  15px 5px 10px;
    text-shadow: rgb(255, 255, 255) 15px 5px 10px;
}
#clockdiv{
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 45px;
    margin: 4px;
}
#clockdiv > div{
    padding: 50px;
    border-radius: 15px;
    background: #1f5a56;
    display: inline-block;
    margin: 4px;
}
#clockdiv>div>span{
     padding: 66px;
     border-radius: 6px;
     background:white;
     display: inline-block;
}
.smalltext{
    padding-top: 5px;
    font-size: 30px;
    color: white;
}


@media (max-width:600px){
    #clockdiv{
        display: inline-block;
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        margin: 4px;
        width: 100%;
    }
    #clockdiv > div{
        padding: 5px;
        border-radius: 15px;
        background: #1f5a56;
        display: inline-block;
        margin: 5px;
        width: 43%;
        
    }
    #clockdiv>div>span{
         padding: 35px;
         border-radius: 6px;
         font-size: 55px;
         background: white;
         display: inline-block;
         width:50%;
         height: 50%;
    }
    body{
        text-align: center;
        background: blanchedalmond;
        font-family: cursive;
        font-weight: bolder;
    }
    .smalltext{
        font-size: 25px;
        color: white;
    }

}